@font-face {
    font-family: 'allerbold';
    src: url('./fonts/aller_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'allerregular';
    src: url('./fonts/aller_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    --major-gap: 36px;
    --minor-gap: 24px;
    --major-radius: 18px;
    --test-color: rgb(192, 192, 192);
    --test-bg: rgb(224, 224, 224);


}

body {
    
    font-family: allerregular;
    width: 100vw;
    height: 100vh;
    background-color: var(--test-bg);
    
    .container {
        width: 100%;
        height: 100%;
        padding: var(--major-gap);
        
        display: grid;
        grid-template: 2fr 1fr / 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: var(--major-gap);
        
        .section {
            height: 100%;
            width: 100%;
            padding: var(--major-gap);
            background-color: var(--test-color);
            border-radius: var(--major-radius);
        }
        
        .section.main {
            padding: 0;
            background-color: var(--test-bg);

            display: flex;
            flex-direction: column;
            gap: var(--minor-gap);

            border: none;
            
            form {
                width: 100%;
                height: 50px;
                
                display: grid;
                grid-template-columns: 1fr 100px;
                gap: var(--minor-gap);

                * {
                    border-radius: 8px;
                }
            }

            .card.main {
                height: 100%;
                width: 100%;
                padding: var(--major-gap);

                background-color: var(--test-color);

                display: grid;
                grid-template-columns: 3fr 2fr;
                justify-items: center;
                align-items: center;
                gap: var(--minor-gap);

                border-radius: var(--major-radius);

                p.temp {
                    font-size: 10rem;
                }

                .prec-info {
                
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: var(--minor-gap);             

                    p.prec-prob {
                        font-size: 5rem;
                    }

                }
                
            }
        }

        .section.desc {
            font-size: 2rem;
            text-align: center;
            text-wrap: wrap;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .section.info {
            font-size: 2rem;
            text-align: center;
            text-wrap: wrap;

            display: flex;
            align-items: center;
            justify-content: center;
        }

    }
}