* {
    --major-gap: 26px;
    --minor-gap: 14px;
    --major-radius: 18px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(126, 126, 126);

    .container {
        width: 100%;
        height: 100%;
        padding: var(--major-gap);

        display: grid;
        grid-template: 2fr 1fr / 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: var(--major-gap);

        .section.main {
            height: 100%;
            width: 100%;
            /* padding: var(--major-gap); */

            display: flex;
            flex-direction: column;
            gap: var(--minor-gap);
            
            form {
                width: 100%;
                height: 50px;
                
                display: grid;
                grid-template-columns: 1fr 100px;
                gap: var(--minor-gap);

                * {
                    border-radius: 8px;
                }
            }

            .card.main {
                height: 100%;
                width: 100%;

                background-color: rgb(184, 184, 184);

                display: grid;
                grid-template: 1fr 1fr / 3fr 2fr;
                justify-items: center;
                align-items: center;
                grid-template-areas:
                    "temp icon"
                    "temp prob"
                ;

                border: 2px solid black;
                border-radius: var(--major-radius);

                p.temp {
                    grid-area: temp;
                    font-size: 200px;
                }

                img {
                    grid-area: icon;
                }

                p.prec-prob {
                    grid-area: prob;
                    font-size: 80px;
                }
                
            }
        }
    }
}